body{
  font-size: 20px;
  font-weight: 20px;
  font-family: sans-serif;
  line-height: 1;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top{
  float: left;
  width:100%;
  background-color: black;]

}

.head{
  float: left;
  margin-left: 5%;
  color: white;
}
.main{
  float: left;
  width:100%;

}
.img{
  float: right;
  width: 40%;
  margin-right: 10%;
  margin-top: 10%;
}
.logbt{
  float: right;
  margin-right: 5%;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 20px;
}
.logbt1{
  float: right;
  margin-right: 15%;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 20px;
  margin-bottom: 20px;
}
.footer{
  float: left;
  width:100%;
  position: absolute;
  bottom: 0px;
}
.right{
  float: left;
  width:45%;
  margin-left: 5%;
}
.headi{
  font-size: 70px;
  font-weight: 70px;
  color:#990000;
  margin-top: 20%;
}
.signup{
  background-color: #990000;
  color:white;
  border:none;
  border-radius: 5px;
  height: 50px;
  width:150px;
  float: left;
  font-size: 20px;
  font-weight: 20px;
cursor: pointer;
margin-top: 20px;
}

.signup:hover {
  background-color: #003b00;

}
.logdi{
  width:50%;
  position: absolute;
  right: 0px;
  top:70px;
  background-color: #990000;
display: none;
}
.logdi input{
  width:70%;
  height:40px;
  color:#333;
  background-color: white;
  border: none;
  border-radius: 5px;

}
.menucl{
  float: right;
  margin-right: 5%;
  background-color: transparent;
  border:none;
}
@media only screen and (max-width: 432px) {

.img{
  float: left;
  width:100%;
}
.right{
  float: left;
  width:100%;
}

.headi{
  display: none;
}
.headim{
  display: none;
}
.footer{
  position: fixed;
  bottom:0px;
}
.signup{
  margin-left: 20%;
}
.logdi{
  float: left;
  width:100%;
}
.logdi input{
  width:90%;
  margin-left:5%;
}
}
